@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
	Layout = "_Layout.cshtml";
}

	<div class="container">
		@Model.Value("title")
		<br />

		Inserted: @ViewBag.SetItem.Key  | @ViewBag.SetItem.Value <br />

		Exists: @ViewBag.Exists <br />

		Retrieved: @ViewBag.RetrievedItem.Key  | @ViewBag.RetrievedItem.Value <br />

		Updated: @ViewBag.UpdatedItem.Key  | @ViewBag.UpdatedItem.Value<br />

		Deleted: @(ViewBag.DeletedItem == null ? "Does not exist" : "Oh no this deletion failed!") <br />

	</div>


